.coverup{
    box-shadow: rgba(100, 255, 218) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    min-height: 580px;
    max-height: 600px;
}

.header{
    box-shadow: rgba(100, 255, 218) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.btn, .btn-outline-warning{
    margin-left: 1%;
}