.EmpHead {
    background: linear-gradient(to right, #64ffda, #112240);
    height: 70px;
    
}

.Empbody {
    margin-top: 5%;
    box-shadow: rgba(100, 255, 218) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.EmpFooder {
    background: linear-gradient(to right, #64ffda, #112240);
    height: 50px;
   position: fixed;  
  /*  left: 0;
    bottom: 0;
    width: 100%;
    text-align: center; */
}

mat-card {
    background: linear-gradient(to right, #64ffda, #112240);
    font-size: xx-large;
}

.pd {
    padding: 130px;
    text-align: left;
}

