<div class="EmpHead row">
    <h1 class="col-lg-10 col-sm-10">Personal Data Management</h1>
    <button class="btn btn-outline-warning col-lg-1 col-sm-2 offset-lg-1" (click)="Logout()">Logout</button>
</div>

<div class="container Empbody">

    <form [formGroup]="getEditedInfo">
        <mat-tab-group mat-align-tabs="center" animationDuration="1000ms">
            <ng-container *ngFor=" let var_EmployeeInfo of var_EmployeeInfo">
                <mat-tab class="" label="Personal Details" formGroupName="Basic_Info">
                    <mat-card>Personal Details</mat-card>
                    <div class="container pd">
                        <div class="row m-5">
                            <mat-label class="col">Employee_id:</mat-label>
                            <input type="text" readonly class="form-control col" formControlName="Employee_id">
                        </div>
                        <div class="row m-5">
                            <mat-label class="col">Title:</mat-label>
                            <input type="text" readonly class="form-control col" formControlName="Title">
                        </div>
                        <div class="row m-5">
                            <mat-label class="col">First Name:</mat-label>
                            <input type="text" class="form-control col" formControlName="First_name">
                        </div>
                        <div class="row m-5">
                            <mat-label class="col">Last Name:</mat-label>
                            <input type="text" class="form-control col" [readonly]="editme"
                                value="{{var_EmployeeInfo.Last_name}}">
                        </div>
                        <div class="row m-5">
                            <mat-label class="col">Date of Birth:</mat-label>
                            <input type="text" class="form-control col" [readonly]="editme"
                                value="{{var_EmployeeInfo.DOB}}">
                        </div>

                        <div class="row m-5">
                            <mat-label class="col">Type of Employee:</mat-label>
                            <input type="text" class="form-control col" readonly
                                value="{{var_EmployeeInfo.Type_of_employee}}">
                        </div>
                        <div class="row m-5">
                            <mat-label class="col">Marital_Status:</mat-label>
                            <input type="text" class="form-control col" [readonly]="editme"
                                value="{{var_EmployeeInfo.Marital_Status}}">
                        </div>
                    </div>
                    <div class="bottom col">
                        <button type="submit" (click)="Editor()"
                            class="btn btn-outline-warning col-lg-4 offset-lg-2">Edit</button>
                        <button type="submit" class="btn btn-outline-warning col-lg-4 offset-lg-1" [hidden]="btnSubmit"
                            (click)="Submit()">Submit</button>
                    </div>
                    <br>
                </mat-tab>

                <mat-tab label="Qualification" formGroupName="Role_And_Qualifications">
                    <mat-card>Qualification</mat-card>
                    <div class="container pd">
                        <div class="row m-5">
                            <mat-label class="col">Role</mat-label>
                            <input type="text" class="form-control col" readonly formControlName="Role"
                                value="{{var_EmployeeInfo.Role}}">
                        </div>
                        <div class="row m-5">
                            <mat-label class="col">Higher Degree</mat-label>
                            <input type="text" class="form-control col" readonly formControlName="Qualification"
                                value="{{var_EmployeeInfo.Qualification}}">
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="Contact" formGroupName="Contacts">
                    <mat-card>Contact</mat-card>
                    <div class="container pd">
                        <div class="row m-5">
                            <mat-label class="col">Mobile Number:</mat-label>
                            <input type="number" class="form-control col" [readonly]="editme"
                                formControlName="Mobile_Number" value="{{var_EmployeeInfo.Mobile_Number}}">
                        </div>
                        <div class="row m-5">
                            <mat-label class="col">City:</mat-label>
                            <input type="text" class="form-control col" [readonly]="editme" formControlName="City"
                                value="{{var_EmployeeInfo.City}}">
                        </div>
                        <div class="row m-5">
                            <mat-label class="col">Email:</mat-label>
                            <input type="email" class="form-control col" [readonly]="editme" formControlName="Email"
                                value="{{var_EmployeeInfo.Email}}">
                        </div>
                        <div class="row m-5">
                            <mat-label class="col">Address:</mat-label>
                            <input type="email" class="form-control col" [readonly] formControlName="Address"
                                value="{{var_EmployeeInfo.Address}}">
                        </div>
                        <div class="row m-5">
                            <mat-label class="col">PersonalID:</mat-label>
                            <input type="email" class="form-control col" [readonly] formControlName="Personal_id"
                                value="{{var_EmployeeInfo.Personal_id}}">
                        </div>
                    </div>
                </mat-tab>

            </ng-container>
            <mat-tab label="Attendance">
                <!-- date of leave
                Reason for leave
                sick, casual,
                approval trigger
            -->
                <mat-card>Leave Request</mat-card>
                <div class="container pd" [formGroup]="GetAttadanceinfo">
                    <div class="row m-5">
                        <mat-label class="col">Date of leave From:</mat-label>
                        <mat-form-field class="example-full-width" appearance="outline" class="col">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker" [min]="Currentdate" formControlName="From_Date">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="row m-5">
                        <mat-label class="col">Date of leave To:</mat-label>
                        <mat-form-field class="example-full-width" appearance="outline" class="col">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker1" [min]="Currentdate" formControlName="To_Date">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="row m-5">
                        <mat-label class="col">Type of leave: </mat-label>
                        <mat-form-field class="col" appearance="outline">
                            <mat-label>Type of leave</mat-label>
                            <mat-select formControlName="LeaveType">
                                <mat-option value="Casual">Casual leave</mat-option>
                                <mat-option value="Sick">Sick Leave</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="row m-5">
                        <mat-label class="col">Reason for leave: </mat-label>
                        <mat-form-field appearance="outline" class="col">
                            <mat-label>Reason for leave</mat-label>
                            <textarea type="text" matInput required formControlName="LeaveComments"></textarea>
                            <!-- <div *ngIf="(GetAttadanceinfo.LeaveComments.touched||submitted)&& GetAttadanceinfo.LeaveComments.errors?.required"></div> -->
                            <!-- <div* *ngIf="GetAttadanceinfo.get('LeaveComments').invalid && GetAttadanceinfo.get('LeaveComments').untouched"></div> -->
                            <!-- <mat-error *ngIf="GetAttadanceinfo.get('LeaveComments').invalid || GetAttadanceinfo.get('LeaveComments').touched">Error</mat-error> -->
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <button class="btn btn-outline-warning col-lg-4 offset-lg-1"
                            (click)="RequestLeave()">Request</button>
                        <button class="btn btn-outline-warning col-lg-4 offset-lg-2" (click)="OpenBottomSheet()">
                            Approvals</button>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Time Sheet">
                <app-time-sheet></app-time-sheet>
            </mat-tab>
        </mat-tab-group>
    </form>
</div>

<br>

<div class="EmpFooder">

</div>