<app-ems-filter class="d-flex justify-content-center" (Searchedtext)="OnSearched($event)"></app-ems-filter>
<div class="total row">
    <ng-container *ngFor="let all of var_Rtndata">
        <ng-container *ngIf=" var_txt_searchvalue ==='' || all.First_name.toLowerCase().includes(var_txt_searchvalue)">
            <mat-card class="cardshow col-lg-2" (click)="openDialog(all)">
                <div class="row">
                    <h2 class="col-lg-3">{{all.Title}}.</h2>
                    <h2 class="col-lg-9">{{all.First_name}}</h2>
                </div>
                <p>{{all.Employee_id}}</p>
            </mat-card>
        </ng-container>
    </ng-container>
</div>