<div class="dashbody row">
    <div class=" row col-lg-12">
        <mat-card class="showcountdata col-lg-3 p-5">
            <div class="col">
                <h1 class="row">Total</h1>
            </div>
            <p class="count">{{Total}}</p>
        </mat-card>
        <mat-card class="showcountdata col-lg-3 p-5">
            <div class="col">
                <h1 class="row">Department</h1>
            </div>
            <p class="count">{{Department}}</p>
        </mat-card>
        <mat-card class="showcountdata col-lg-3 p-5">
            <div class="col">
                <h1 class="row">Approvals</h1>
            </div>
            <p class="count">{{Approvals}}</p>
        </mat-card>
    </div>

    <mat-divider></mat-divider>


</div>