.cardshow {
    height: 200px;
    background: linear-gradient(to top, #112240, #b9fded);
    color: white;
    margin-left: 7%;
    margin-top: 2%;
}

.cardshow:hover {
    background: linear-gradient(to top, Orange, #64ffda);
}

.Lbl:hover{
    background: linear-gradient(to bottom, Orange, #64ffda);
}
p{
    font-weight: 900;
    font-size: 100px;
}

