.header{
    background: linear-gradient(to right,#64ffda, #112240);
    height: 70px;
}

.mainpage{
    background-image: url('/assets/Common/tech.jpg');
    background-position: center;
    background-size: cover;
    height: 750px;
    width: 75%;
    box-shadow:rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin-top: 5%;
}
.contentpage{
    padding: 50px;
    color: white;
}
.glass{
    background: linear-gradient(#64ffda, #112240);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* backdrop-filter: blur(2px); */
    padding: 100px;
    margin-top: 5%;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}