<div class="empbody">
    <form [formGroup]="gather_data">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Personal" formGroupName="Personal_Details">
                <div class="container pd">
                    <div class="row m-3">
                        <mat-label class="col">Employee_id:</mat-label>
                        <mat-form-field class="col" appearance="outline">
                            <mat-label>Employee_id</mat-label>
                            <input type="text" matInput formControlName="Employee_id">
                        </mat-form-field>
                    </div>
                    <div class="row m-3">
                        <mat-label class="col">Title:</mat-label>
                        <mat-form-field class="col" appearance="outline">
                            <mat-label>Title</mat-label>
                            <mat-select formControlName="Title">
                                <mat-option value="Mr">Mr.</mat-option>
                                <mat-option value="Mrs">Mrs.</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="row m-3">
                        <mat-label class="col">First Name:</mat-label>
                        <mat-form-field class="col" appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input type="text" matInput formControlName="First_Name">
                        </mat-form-field>
                    </div>
                    <div class="row m-3">
                        <mat-label class="col">Last Name:</mat-label>
                        <mat-form-field class="col" appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input type="text" matInput formControlName="Last_Name">
                        </mat-form-field>
                    </div>
                    <div class="row m-3">
                        <mat-label class="col">Date of Birth:</mat-label>
                        <mat-form-field appearance="outline" class="col">
                            <mat-label>Date of Birth</mat-label>
                            <input class="" matInput [matDatepicker]="picker" ngDefaultControl formControlName="DOB">
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-datepicker-toggle matSuffix [for]="picker">
                            </mat-datepicker-toggle>
                        </mat-form-field>
                    </div>
                    <div class="row m-3">
                        <mat-label class="col">Marital_Status:</mat-label>
                        <mat-form-field class="col" appearance="outline">
                            <mat-label>Marital_Status</mat-label>
                            <mat-select class="col" formControlName="Marital_Status">
                                <mat-option value="Single">Single</mat-option>
                                <mat-option value="Married">Married</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="row m-3">
                        <mat-label class="col">Gender</mat-label>
                        <mat-form-field class="col" appearance="outline">
                            <mat-label>Gender</mat-label>
                            <mat-select formGroupName="Gender">
                                <mat-option value="Male">Male</mat-option>
                                <mat-option value="Female">Female</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Qualification" formGroupName="Role_And_Qualifications">
                <div class="container pd">
                    <div class="row m-3">
                        <mat-label class="col">Role:</mat-label>
                        <mat-form-field class="col" appearance="outline">
                            <mat-label>Role</mat-label>
                            <mat-select formControlName="Role">
                                <mat-option value="Software Engineer">Software Engineer</mat-option>
                                <mat-option value="Test Engineer">Test Engineer</mat-option>
                                <mat-option value="Network Engineer">Network Engineer</mat-option>
                                <mat-option value="Accountant">Accountant</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="row m-3">
                        <mat-label class="col">Qualification:</mat-label>
                        <mat-form-field class="col" appearance="outline">
                            <mat-label>Qualification</mat-label>
                            <input type="text" matInput formControlName="Qualification">
                        </mat-form-field>
                    </div>
                    <div class="row m-3">
                        <mat-label class="col">Department:</mat-label>
                        <mat-form-field class="col" appearance="outline">
                            <mat-label>Department</mat-label>
                            <mat-select formControlName="Department">
                                <mat-option *ngFor="let item of Var_depart_info" value="item">{{item.Department}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="row m-3">
                        <mat-label class="col">Type of Employee:</mat-label>
                        <mat-form-field appearance="outline" class="col">
                            <mat-label>Type of Employee</mat-label>
                            <mat-select formControlName="Type_of_Employee">
                                <mat-option value="Permenent">Permenent</mat-option>
                                <mat-option value="Contract">Contract</mat-option>
                                <mat-option value="Temp">Temp</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="row m-3">
                        <mat-label class="col">Project_Domain:</mat-label>
                        <mat-form-field class="col" appearance="outline">
                            <mat-label>Project_Domain</mat-label>
                            <mat-select formControlName="Project_Domain">
                                <mat-option value="Travel">Travel</mat-option>
                                <mat-option value="Banking">Banking</mat-option>
                                <mat-option value="ERP">Enterprise resource planning </mat-option>
                                <mat-option value="CRM">Customer Relational Management</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Contact" formGroupName="Contacts">

                <div class="container pd">
                    <div class="row m-3">
                        <mat-label class="col">Mobile Number:</mat-label>
                        <mat-form-field appearance="outline" class="col">
                            <mat-label>Mobile Number</mat-label>
                            <input type="number" matInput formControlName="Mobile_Number">
                        </mat-form-field>
                    </div>
                    <div class="row m-3">
                        <mat-label class="col">Address:</mat-label>
                        <mat-form-field appearance="outline" class="col">
                            <mat-label>Address</mat-label>
                            <textarea type="text" matInput formControlName="Address"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="row m-3">
                        <mat-label class="col">City:</mat-label>
                        <mat-form-field class="col" appearance="outline">
                            <mat-label>City</mat-label>
                            <input type="text" matInput formControlName="City">
                        </mat-form-field>
                    </div>
                    <div class="row m-3">
                        <mat-label class="col">Email:</mat-label>
                        <mat-form-field class="col" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input type="text" matInput formControlName="Email">
                        </mat-form-field>
                    </div>
                    <div class="row m-3">
                        <mat-label class="col">Personal ID:</mat-label>
                        <mat-form-field class="col" appearance="outline">
                            <mat-label>Personalid</mat-label>
                            <input type="text" matInput formControlName="Personalid">
                        </mat-form-field>
                    </div>
                    <div class="row m-5 pt-5">
                        <button type="submit" class="btn btn-outline-warning" (click)="CreateEmp()">Submit</button>
                    </div>

                </div>
            </mat-tab>
        </mat-tab-group>
    </form>
</div>