<ng-container>
    <div class="row mt-5">
        <mat-label class="col-lg-5" style="text-align: center;">Fill the Task:</mat-label>
        <mat-form-field appearance="legacy" class="col-lg-5">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
<form [formGroup]="addform">
    <ng-container >
        <div class="row">
            <div class="col-lg-2 p-5 m-2">
                <mat-label>Project:</mat-label>
                <mat-form-field appearance="outline">
                    <mat-label>Project</mat-label>
                    <input type="text" matInput formControlName="Category">
                </mat-form-field>
            </div>
            <div class="col-lg-2 p-5 m-2">
                <mat-label>Sub:</mat-label>
                <mat-form-field appearance="outline">
                    <mat-label>Sub Cat:</mat-label>
                    <input type="text" matInput formControlName="Sub_Category">
                </mat-form-field>
            </div>
            <div class="col-lg-2 p-5 m-2">
                <mat-label>Start Time:</mat-label>
                <mat-form-field appearance="outline">
                    <mat-label>Start Time</mat-label>
                    <input type="text" matInput formControlName="Start_Time">
                </mat-form-field>
            </div>
            <div class="col-lg-2 p-5 m-2">
                <mat-label>End Time:</mat-label>
                <mat-form-field appearance="outline">
                    <mat-label>End Time</mat-label>
                    <input type="text" matInput formControlName="End_Time">
                </mat-form-field>
            </div>
            <div class="col-lg-2 p-5 m-5">
                <button class="btn btn-outline-warning btn-lg"><span>Upload</span></button>
            </div>
        </div>
    </ng-container>
    <ng-container formArrayName="NewRowz">
    <!-- <ng-container *ngFor="let form of addform.get('NewRowz')['controls'];"></ng-container> -->
    </ng-container>
</form>
</ng-container>

<div class="row mt-5">
    <button class="btn btn-outline-warning col-lg-3 offset-lg-2" (click)="addTasks()">Add Task</button>
    <button type="submit" class="btn btn-outline-warning col-lg-3 offset-lg-2">Submit</button>
</div>