<div class="content row">
    <div class="col-lg-4 ">
        <mat-card class="cont" *ngFor="let item of var_Rtn_Approvals;let i= index" (click)="SelectedCard(item)">
            <p class="">{{item.Name}}({{item.Employee_id}})</p>
        </mat-card>
    </div>

    <div class="col-lg-8">
        <div class="showcontent">
            <div class="row p-3">
                <mat-label class="col-lg-3">Employee_id:</mat-label>
                <input type="text" readonly class="form-control col offset-lg-3" value="{{var_Single_Approvals?.Employee_id}}">
            </div>
            <div class="row p-3">
                <mat-label class="col-lg-3">Name:</mat-label>
                <input type="text" readonly class="form-control col offset-lg-3" value="{{var_Single_Approvals?.Name}}">
            </div>
            <div class="row  p-3">
                <mat-label class="col-lg-3">Leave_From:</mat-label>
                <input type="text" readonly class="form-control col offset-lg-3" value="{{var_Single_Approvals?.Leave_From}}">
            </div>
            <div class="row p-3">
                <mat-label class="col-lg-3">Leave_To:</mat-label>
                <input type="text" readonly class="form-control col offset-lg-3" value="{{var_Single_Approvals?.Leave_To}}">
            </div>
            <div class="row p-3">
                <mat-label class="col-lg-3">Type_of_Leave:</mat-label>
                <input type="text" readonly class="form-control col offset-lg-3" value="{{var_Single_Approvals?.Type_of_Leave}}">
            </div>
            <div class="row p-3">
                <mat-label class="col-lg-3">Reason_For_Leave:</mat-label>
                <input type="text" readonly class="form-control col offset-lg-3" value="{{var_Single_Approvals?.Reason_For_Leave}}">
            </div>

            <div class="row mt-5">
                <button type="button" class="btn btn-outline-warning col-lg-4 offset-lg-2" (click)="GettingApprovals(var_Single_Approvals?.Employee_id)">Approval</button>
                <button type="button" class="btn btn-outline-warning col-lg-4 offset-lg-1" (click)="CancelLeave(var_Single_Approvals?.Employee_id)">Cancel</button>
            </div>
        </div>
    </div>
</div>